<div class="container">
    <h1>Dojo Weather Forecast</h1>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">  
        <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['city','Seattle']">Seattle WA</a>
          <a class="nav-item nav-link" [routerLink]="['city','San Jose']">San Jose CA</a>
          <a class="nav-item nav-link" [routerLink]="['city','Burbank']">Burbank CA</a>
          <a class="nav-item nav-link" [routerLink]="['city','Dallas']">Dallas TX</a>
          <a class="nav-item nav-link" [routerLink]="['city','Washington DC']">Washington DC</a>
          <a class="nav-item nav-link" [routerLink]="['city','Chicago']">Chicago IL</a>
        </div>
    </nav>
  </div>
<router-outlet></router-outlet>
